.cta .inner-wrap{
  max-width: 900px;
}

.cta-logo {
  
  margin-bottom: 40px!important;
}

@media screen and (max-width: 1000px) {
.cta {
  padding: 80px 56px;
}
}

@media screen and (max-width: 760px) {
.cta {
  padding: 64px 32px;
}
}