.double-section{
  background-color: #252A3A!important;
  color: #fff;
}

.double-section {
    padding:  96px 120px 96px 120px;
    background-color: #F7F8FC;
}

.inner-wrap-600 {
  max-width: 870px;
}

.cta-logo{
  display: none;
}

.div1-double{
  grid-area: 2 / 2 / 1 / 3!important;
  padding-right: 0;
}

.div2-double{
  grid-area: 1 / 1 / 2 / 2!important;
  padding-right: 60px;

}

.card-grid-2 {
  margin-top: 80px;
}

.cards-bullets-point {
  display: flex;
}

.bullets-title::before {
  content: none!important;
}

.div1-cards {
  padding-left: 0!important;
}

.header-cards {
  text-align: center;
  margin-left: auto ;
  margin-right: auto;
}

.card-grid-2 .div1-cards {
  margin-right: 0!important;
  margin-left: 80px!important;
}

#coverflowWrapv2 {
  margin: auto;
}

.double-one .grid-text {
  padding-left: 0!important;
}

.div1-main .section-bullet-text {
  margin-bottom: 40px
}

.cards-point-two, .cards-point-one {flex: 1}
 .cards-point-one {margin-right: 12px}
.cards-point-two {margin-left: 12px}

.section-bullet-title {
font-family: var(--font-wt-Black)!important;
font-weight: 750}

@media screen and (max-width: 1024px) {

  .card-grid {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto)!important;
}
    .double-section {
        padding: 80px 56px;
    }
.div1-double{
  grid-area:  initial;
  padding-right: 0;
}

.double-two .div2-double{
  grid-area:initial;
  padding-right: 0;

}


.cards-point-one {
  margin-left: 0;
}


.grid-image, .div1-cards {
  grid-area: 1 / 1 / 2 / 2!important;
  }
  .grid-text, .div2-cards {
  grid-area: 2/2/2/1!important;
}
.div2-double{
  padding-right: 0;
}
#coverflowWrapv2 {
  margin: auto;
}
.card-grid-2 .div1-cards {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.cards-section {
  padding-bottom: 80px;
}
}


@media screen and (max-width: 765px) {

.cards-bullets-point {
  display: block;
}

.cards-point-two {
  margin: 0;
  margin-top: 20px;
}

.cards-point-one {
  margin-left: 0;
}
}