.partners-logos{
	padding:  64px 120px;
	background-color: #F7F8FC;
}

.partners-logos .logos-section .partner-logos-bar{
	margin: auto;
}

.logo-bar-title{
	text-align: center;
	color: #999999;
	text-transform: uppercase;
	margin-bottom: 40px;

}



@media only screen and (max-width: 1000px) {

.partners-logos{
	padding:  64px 56px;
}
}



@media screen and (max-width: 760px) {
.partners-logos{
	padding:  64px 32px;
}


}
