/*************************/
/* Begin AppLovin Fonts */
/*************************/

:root {
  --font-wt-Light: "Tazugane Info StdN W05 Light";
  --font-wt-Medium: "Tazugane Info StdN W05 Medium";
  --font-wt-Black: "Tazugane Info StdN W05 Black"; 
  --font-wt-Heavy: "Tazugane Info StdN W05 Heavy";
  --font-wt-LightOblique: "Tazugane Info StdN W05 Light";
  --font-wt-HeavyOblique: "Tazugane Info StdN W05 Heavy";
  --font-wt-BlackOblique: "Tazugane Info StdN W05 Black";
}
