/*************************/
/* Begin AppLovin Fonts */
/*************************/

:root {
  --font-wt-Light: "M XiangHe Hei SC W05 Light";
  --font-wt-Medium: "M XiangHe Hei SC W05 Medium";  
  --font-wt-Black: "M XiangHe Hei SC W05 Black"; 
  --font-wt-Heavy: "M XiangHe Hei SC W05 Heavy";
  --font-wt-LightOblique: "M XiangHe Hei SC W05 Light";
  --font-wt-HeavyOblique: "M XiangHe Hei SC W05 Heavy";
  --font-wt-BlackOblique: "M XiangHe Hei SC W05 Black";
}
