/*************************/
/* Begin AppLovin Fonts */
/*************************/

:root {
  --font-wt-Light: "Seol Sans W05 Light";
  --font-wt-Medium: "Seol Sans W05 Medium";
  --font-wt-Black: "Seol Sans W05 Black"; 
  --font-wt-Heavy: "Seol Sans W05 Heavy";
  --font-wt-LightOblique: "Seol Sans W05 Light";
  --font-wt-HeavyOblique: "Seol Sans W05 Heavy";
  --font-wt-BlackOblique: "Seol Sans W05 Black";
}
