
    .wrapper-dropdown .selected-display {
        align-items: center;
        display: flex;
        font-family: var(--font-wt-Heavy), "Avenir", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
        font-weight: 750;
        font-size: 16px;
    }

    .alert-warning {
        margin-bottom: 60px!important;
    }

    .no-job {
        text-align: center;
    }

    .jobs-content {
        width: 100%;
        max-width: 1064px;
        margin: 0 auto;
        padding: 80px 32px;
    }

    li {
        list-style-type: none;
    }

    ul {
        padding: 0;
    }

    .job-listing {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        transition: all 0.2s;
        /* position: relative; */
        cursor: pointer;
    }

    .job-listing-item:hover {
        box-shadow: 0 0 9px #0000003a;
        z-index: 10;
        background: #fff;
    }

    .job-listing p {
        display: inline-block;
        color: #999999;
        flex: 0 0 45%;
        font-size: 21px;
        font-weight: 600;
        line-height: 18px;
        margin: 0;
    }

    .job-title {
        display: inline-block;
        flex: 0 0 50%;
        font-size: 1.125em;
        color: #000;
        transition: all 0.2s;
        font-size: 21px;
        font-weight: 600;
    }

    .job-listing::before {
        display: block;
        content: '';
        border-top: 1px solid #e7e7e7;
        position: absolute;
        top: -1px;
        left: 24px;
        width: calc(100% - 48px);
    }

    h3 {
        font-size: 2em;
        margin: 2.5em auto 1.5em 24px;
        text-align: left;
        font-weight: normal;
        line-height: 1.2em;
        color: #666666;
        font: 32px / 1.5 var(--font-wt-Light), Medium, "Helvetica Neue", "Helvetica", sans-serif;
    }

    #filter-form {
        display: flex;
        padding: 24px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    #filter-form select {
        margin-right: 16px;
    }

    #job-counter {
        padding-left: 35px;
        font: 18px / 1.5 var(--font-wt-Black), Medium, "Helvetica Neue", "Helvetica", sans-serif;
        color: #000000;

        span {
            font-family: var(--font-wt-Light), "Avenir", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
        }
    }

    select {
        padding: 8px;
        font-size: 16px;
        border-color: #EFEFEF;
        border-width: 2px;
    }


    /* the code below is for the dropdown menu */
    .wrapper-dropdown {
        background: #fff;
        border: 1px solid #eef0f6;
        border-radius: 8px;
        box-shadow: 0 2px 2px 0 rgba(16, 95, 251, .15);
        color: #000;
        cursor: pointer;
        display: flex;
        font-family: var(--font-wt-Light), "Avenir", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
        font-weight: 300;
        justify-content: space-between;
        line-height: 16px;
        /* margin-bottom: 40px; */
        padding: 14px 16px;
        /* position: relative; */
        text-align: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        width: 260px;
        display: flex;
        align-items: center;
        /* margin-right: 20px; */
    }


    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }

    .arrow {
        float: right;
        rotate: 180deg;
    }

    .selected-display {
        margin-left: 20px;
    }

    svg {
        transition: all 0.3s;
    }

    .wrapper-dropdown::before {
        position: absolute;
        top: 50%;
        right: 16px;

        margin-top: -2px;

        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: #fff transparent;
    }

    .rotated {
        transform: rotate(-180deg);
    }

    .wrapper-dropdown .dropdown {
        background: inherit;
        border-radius: 15px;
        box-shadow: inherit;
        box-shadow: 0 4px 20px 0 rgba(16, 95, 251, .15);
        left: 0;
        list-style: none;
        margin: 0;
        opacity: 0;
        padding: 20px !important;
        padding: 0;
        position: absolute;
        right: 0;
        top: 125%;
        transform-origin: top;
        transition: .3s;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        visibility: hidden;
        z-index: 99;
    }

    .wrapper-dropdown .dropdown li {
        padding: 0 15px;
        line-height: 25px;
        overflow: hidden;
        margin: 20px 0;
    }

    .wrapper-dropdown .dropdown li:first-child {
        margin-top: 10px;
    }

    .wrapper-dropdown .dropdown li:last-child {
        margin-bottom: 10px;
    }

    .wrapper-dropdown .dropdown li:last-child {
        border-bottom: none;
    }

    .dropdown {
        padding: 0.5rem !important;
    }

    .wrapper-dropdown.active .dropdown {
        border-radius: 15px;
        opacity: 1;
        visibility: visible;
    }

    .job-controls-con {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #reset-filters {
        color: #00B6E0;
        font-family: var(--font-wt-Heavy);
        font-weight: 700;
        cursor: pointer;
        padding-right: 35px;
    }

    .loading-jobs {
        text-align: center;
    }

    #fetching-jobs p {
        text-align: center;
    }


    @media screen and (max-width: 1040px) {
        #filter-form {
            flex-direction: column;
        }

        .wrapper-dropdown {
            width: 100%;
            margin-bottom: 20px;
        }

        .job-listing  {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }

    #intern-message {
        text-align: center;
    }